################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/YTDownload/bin/Debug/net6.0-windows
/YTDownload/obj
/YTDownload/bin
/AppInstaller/AppPackages
/AppInstaller/bin
/AppInstaller/BundleArtifacts
/AppInstaller/obj
/AppInstaller/AppInstaller_TemporaryKey.pfx
